menu "LED Strip"
    config NUM_PIXELS
        int
        prompt "Num Pixels"
        default 20

    config PULSE_DURATION_FRAMES
        int
        prompt "Total Pulse Dration (frames)"
        default 21

    config TIME_FRAMES
        int
        prompt "Number of Time Slices"
        default 1000
    
    config TIME_PER_PULSE
        int
        prompt "Times per Pulse (ms)"
        default 50

    config RMT_LED_STRIP_GPIO_NUM
        int
        prompt "RMT GIO PIN"
        default 13 

    config RMT_LED_STRIP_RESOLUTION_HZ
        int
        prompt "RMT RESOLUTION"
        default 10000000

endmenu
    
